
/* Create two unequal columns that floats next to each other ============================ */
.column {
	float: center;
  /*
  height: 250px;  Should be removed. Only for demonstration
  */
}

.left {
	/*width: 100%; */
	text-align: left
}

.right {
	/*width: 100%; */
	text-align: right;
  /*
  padding: 10px
  */
}
/* ========================================================================================= */
.col {
	float: center;
}

.cleft {
	width: 50%;
	text-align: left;
}

.cright {
	width: 50%;
	text-align: right;
  /*
  padding: 10px
  */
}


/* Code block in and output===================================================================*/
.code-py {
	background-color: yellow;
  /*
  lightyellow
  border: 3px solid red;
  font-weight: bold;
  */
}

.code-r {
	color: blue;	
	background-color: lightcyan;
  /*
  border: 3px solid red;
  font-weight: bold;
  */
}

.code-output {
	color: blue;
	background-color: floralwhite;
  /*
  border: 3px solid red;
  font-weight: bold;
  */
}

/* https://www.w3.org/wiki/CSS/Properties/color/keywords */
/* ========================================================================================= */


/* Info Box =================================================================================*/
div.lith, div.demo {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #1f5386;
    background-color: #bed3ec;
    border: solid 5px #dfedff;
  }
  
div.demo {
	background-image: url("info.png");
}
https://desiree.rbind.io/post/2019/making-tip-boxes-with-bookdown-and-rmarkdown/
/* ========================================================================================= */
